<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/mobileCss", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div data-role="page" data-theme="b">
        <div data-role="header">
            @if (IsSectionDefined("Header")) {
                @RenderSection("Header")
                } else {
                <h1>@ViewBag.Title</h1>
                @Html.Partial("_LoginPartial")
                }
        </div>
        <div data-role="content">
            @RenderBody()
        </div>
        <div data-role="footer" data-position="fixed" data-theme="d">
            <div data-role="navbar" data-iconpos="left">
                <ul>
                    <li><a href="~/Mobile/index" data-icon="info">个人记账</a></li>
                        <li><a href="#" data-icon="grid">微信用户管理</a></li>
                        <li><a href="#" data-icon="star">博客园</a></li>
                        <li><a href="#" data-icon="star">糗事百科</a></li>
                        <li><a href="#" data-icon="star">娱乐空间</a></li>
                    </ul>
                </div>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        <script>
            $(document).on("mobileinit", function () {
                $.mobile.ajaxEnabled = false;
            });
        </script>
        @Scripts.Render("~/bundles/jquerymobile")
        @RenderSection("scripts", required: false)


    </body>
</html>
